body {
    background-color: #fbfbfb;
    }

    @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
    }
    
    /* Sidebar */
    .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 150%;
    }
    }
    
    .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; 
    }


.lgp {
    background-color: #4D8CBA;
    height: 100%;
}

.lgf {
    padding: 20px;
    padding-left: 80px;
    background-color: #ffffff;
}

.title {
    color: #4D8CBA;
    font-weight: 580;
    font-size: 30px;
    font-family: Oxygen,'Open Sans', sans-serif;
}

.logo {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 220px;
}

.subtitle {
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.lgf h6 {
    font-size: 19px;
    font-weight: 400;
    font-family: Ubuntu, sans-serif;
}

.icons {
    line-height: 200px;
    text-align: center;
}

.fa,
.fa-brands,
.fa-solid {
    width: 38px;
    color: #ffffff;
    display: inline-block;
}
.fa:hover {
    opacity: 60%;
    width: 45px;
}

.fa-solid:hover {
    opacity: 60%;
    width: 45px;
}
.fa-brands:hover {
    width: 45px;
    opacity: 60%;
}
.btn {
    background-color: #ffffff;
    border-color: #4D8CBA;
}
.btn:hover {
    color: #3494ee;
    width: 120px;
}


